@charset "UTF-8";
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakesCondensed-Medium.woff") format("woff"), url("../assets/fonts/TTLakesCondensed-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #F8F8F8;
  --pink-color: #FF3E79;
  --nav-text-color: #7E7E82;
  --turq-color: #D9FFF5;
  --border-gray-color: #EAEAEA;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "SFProDisplay", sans-serif;
  margin: 0;
  background-color: var(--gray-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, ol, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 72rem;
  padding: 0 1rem;
  margin: 0 auto;
  position: relative;
}

.btn-reset {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  outline: none;
}

input[type=radio] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.header {
  border-bottom: solid #D9FFF5;
  background-color: var(--white-color);
  margin-bottom: 1.5rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__logo {
  position: relative;
}

.header__logo::after {
  content: "";
  position: absolute;
  border-right: solid var(--border-gray-color);
  top: 0.6rem;
  right: -0.9rem;
  height: 1.9rem;
}

.header__buttons {
  display: flex;
}

.header__btn-phone,
.header__btn-chat,
.header__user {
  display: none;
}

.header__btn-repair {
  padding-right: 1rem;
}

.burger {
  display: none;
}

.burger {
  padding: 0 1.9rem;
  display: none;
}

.active {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  z-index: 2;
}

.burger__menu {
  width: 21rem;
  position: absolute;
  left: 0.1rem;
  padding-left: 1.8rem;
  padding-top: 1.1rem;
  background-color: var(--white-color);
  box-shadow: 1rem 0 3.25rem rgba(14, 24, 80, 0.2);
}

.burger__overlay-inner {
  display: flex;
  margin-bottom: 2.3rem;
}

.burger__btn {
  padding-right: 1rem;
}

.burger__logo {
  padding-right: 5rem;
}

.burger__navigation {
  margin-bottom: 15rem;
}

.burger__list-item {
  padding-bottom: 1.8rem;
}

.burger__list-item:hover {
  transition: 0.5s;
  color: var(--nav-text-color);
}

.burger__buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.1rem;
}

.burger__mail {
  display: block;
  margin-bottom: 0.8rem;
  font-family: "TT Lakes";
  font-size: 1rem;
}

.burger__tel {
  font-family: "TT Lakes";
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2.6rem;
}

.burger__radio {
  padding-left: 0;
  padding-right: 0.4rem;
  cursor: pointer;
}

.burger__radio:hover {
  color: var(--nav-text-color);
}

.burger__radio:active {
  color: var(--nav-text-color);
}

.burger__radio:focus {
  border: solid var(--pink-color);
}

.burger__radio:disabled {
  color: var(--black-color);
}

.services__inner {
  margin-bottom: 1.5rem;
}

.services__title {
  font-family: "TT Lakes";
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.services__title::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 2.5rem;
  left: -0.9rem;
  background: #41F6D7;
  border-radius: 1px;
}

.services__buttons {
  display: none;
}

.services__menu {
  display: flex;
  overflow-y: hidden;
}

.services__item {
  white-space: nowrap;
  display: block;
  padding: 0.5rem 1rem;
  font-family: "TT Lakes";
  font-size: 1rem;
  color: var(--nav-text-color);
  transition: 0.3s;
  border-radius: 6px;
  border: solid transparent;
}

.services__item:hover,
.services__item:focus,
.services__item:active {
  transition: 0.3s;
  background-color: var(--white-color);
  border: solid #D9FFF5;
  border-radius: 6px;
  transition: 0.5s;
}

.about__text {
  font-family: "TT Lakes";
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.span-tab,
.span-desctop {
  display: none;
}

.about__btn {
  font-family: "TT Lakes";
  font-size: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.25rem;
  border: solid transparent;
}

.about__btn::before {
  content: "«";
  position: absolute;
  font-size: 1.6rem;
  transform: rotate(0.75turn);
  left: 0;
  top: -0.3rem;
  color: #41f6d7;
}

.about__img {
  border-radius: 5px;
  width: 20rem;
  height: 11rem;
}

@media (min-width: 47.5rem) {
  .header__btn-phone,
  .header__btn-chat,
  .header__user {
    display: block;
  }
  .header__inner {
    justify-content: flex-start;
  }
  .header__logo {
    padding-left: 3rem;
  }
  .header__buttons {
    padding-left: 16rem;
    gap: 1rem;
  }
  .header__btn-repair {
    padding-right: 0;
    padding-left: 1rem;
  }
  .header__btn--border {
    position: relative;
  }
  .header__btn--border::after {
    content: "";
    position: absolute;
    border-right: solid var(--border-gray-color);
    bottom: 0.2rem;
    right: -1rem;
    height: 1.9rem;
  }
  .header__logo::after {
    display: none;
  }
  .header__logo::before {
    content: "";
    position: absolute;
    border-right: solid var(--border-gray-color);
    top: 0.6rem;
    left: 1.4rem;
    height: 1.9rem;
  }
  .about__inner {
    display: flex;
    gap: 3.1rem;
  }
  .span-tab {
    display: block;
  }
  .about__img {
    width: 100%;
    min-width: 22.5rem;
    height: 13rem;
  }
}
@media (min-width: 69rem) {
  .header {
    display: none;
  }
  .services__inner {
    margin-top: 2.6rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
  }
  .services__menu {
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .services__buttons {
    display: block;
    display: flex;
    align-items: center;
    padding-left: 32rem;
    gap: 2rem;
  }
  .services__buttons-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .span-desctop {
    display: block;
  }
  .about__img {
    width: 100%;
    min-width: 33.25rem;
    height: 19.2rem;
  }
}
@media (min-width: 90rem) and (max-width: 256rem) {
  .container {
    transform: translate(10rem, 0.6rem);
  }
  .burger {
    height: 100vh;
    display: block;
    position: absolute;
    left: -362px;
    top: -50px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .burger__menu {
    box-shadow: none;
    padding-top: 3rem;
    padding-left: 3rem;
    width: 20.7rem;
    left: 2rem;
  }
  .burger__btn {
    display: none;
  }
  .burger__logo {
    padding-right: 7.4rem;
  }
}/*# sourceMappingURL=style.css.map */